@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
/*

Variables

*/
:root{
    /*

    Colors

    */
    --main-color:  #ffb43a;
    --hover-color:  hsl(30, 94%, 57%);
    --body-color:  #1e1e2a;
    --container-color:   #2d2e37;
    --text-color:   #fcfeff;

    --min-width: 240px;
    --max-width: 1600px;
}

/*

Typography

*/
.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

/*

General

*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    font-family: "Poppins", sans-serif;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

img{
    width: 100%;
}

body{
    background-color: var(--body-color);
    color: var(--text-color);
}

.container{
    min-width: var(--min-width);
    max-width: var(--max-width);
}

main{
    width: 100vw;
    height: 100vh;
    padding: 1rem 1rem;
}

@media(min-width:600px){
    main{
        padding: 1rem 1rem 1rem 7rem;
        border-radius: 25%;
    }
}